<!DOCTYPE html>
<html class="light">
  <head>
    <title>SvelteRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# <%= stylesheet_link_tag "application" %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
  </head>
  <body class="bg-white dark:bg-gray-800">
    <%= yield %>
  </body>
</html>
